// Your footer style
.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 50px;
  background-color: $blue;
  height: 120px;
  p {
    color: white;
    text-align: right;
  }
  a {
    color: $green;
  }
}